<img class="rounded pull-left lft-img-margin img-width-200" 
  src="/public/img/blog/kate/img/returning-home.png" alt="Returning Home" />

<h2 class="heading-md h2-prof">Returning Home <small>by Kate Macnamara</small></h2>
<br/>

<p>
  Out of her own desperate Search for healing, Kate discovers the psychological
  and mystical truths that allow true healing and spiritual awakening. During
  a powerful mystical event she experience the reality of the true self as pure
  love and light in union with the Divine. In this moment she feels a deep
  calling to heal and awaken so she can be of service and support to others in
  their healing and awakening.
</p>

<p>
  Her healing journey taker her into her deepest wounds and fears to release the
  layers that hide the true self. As she journeys within herself she also travels
  through countries such as Egypt, France, Israel, Turkey and Bali where she
  attends powerful retreats and visits ancient sites.
</p>

<p>
  Kate also discovers that as Mother Earth is shaking and shifting the ‘time is
  now’ to heal and awaken from ego consciousness to Unity consciousness. The old
  epoch is ending; it is time to welcome the new.
</p>

<p>
  See the wonderful book trailer on <a target="_blank"
    href="https://www.youtube.com/watch?v=M3IhWjj8oOM">Youtube</a>
</p>

<p>
  <em>Returning Home</em> is available at book stores and through 
  <!-- <a target="_blank" href="https://www.amazon.com/author/katemacnamara">Amazon.</a> -->
  <a target="_blank" href="http://www.amazon.com/Returning-Home-Kate-Macnamara-ebook/dp/B00EX6PBJC/ref=asap_bc?ie=UTF8">Amazon.</a>
</p>


