<h2 class="h2-prof margin-bottom-20">It All Began with a Simple Question</h2>
<p>
  <strong>It all began with a simple question.</strong> I was a nurse at the time and curious
  about what a visitor had offered a patient. “What’s Reiki?” I asked. She
  beckoned me to her, to simply experience it. Her hands touched my shoulders and
  tingling energy poured through my body. Something stirred deep within my being. 
</p>

<p>
  <strong>Over the coming years I was thirsty to learn meditation, energetic and
  spiritual healing.</strong> It became a quest to support my younger daughter in her
  struggle with spinal scoliosis and ultimately the radical surgeries that she
  underwent. 
</p>

<p>
  <strong>Then in the late 1990s, memories of childhood trauma surfaced.</strong> This ignited
  a desperate need to heal the deep emotional and psychological wounds and
  suffering that tormented me. I resourced many avenues of healing, some of which
  gave a sense of relief, yet I knew there must be more.
</p>

<p>
  <strong>A desire began to enter my heart to support others to heal while continuing my
  own journey.</strong> I studied counselling and psychology and set up a private
  practice. Yet even with these skills I still felt there must be more. A deep
  question arose within me: 
</p>

<h2>
  How do we truly heal?
</h2>

<p>
  <strong>The universe began to answer my heartfelt question,</strong> though I didn’t recognise
  it initially. Through an incredible “coincidence” a magazine advertising a book
  called <em>The Way of the Heart</em> found its way to my kitchen table and fell open at
  the relevant page. I rushed to the phone to order a copy and when it arrived
  I immersed myself in it, a manuscript of profound lessons given by Jeshua, the
  one known by many as Jesus, channelled by a man called Jayem.
</p>

<p>
  <strong>A new journey began</strong> and the <em>Way of Mastery</em>, as it is 
  now known, led me to
  beautiful Bali for intensive retreats and pilgrimages around the world. It was
  during these retreats that I experienced deep and profound healing.
</p>

<p>
  Out of my own deeper healing emerged a desire to share my journey, which
  birthed my book <em>Returning Home to the essence of who I am.</em>  My intention with
  it is to provide a real example and instil hope that we can truly heal – to
  return home to who we are, to Love itself. The desire then evolved into a deep
  passion to support others in their healing journey, to grow into their
  empowerment and awaken to their deepest truth.
</p>

<h2>
  A passion and vision now swells my heart&hellip;
</h2>

<p>
  <strong>A holistic recipe that supports each of us to heal, awaken and return home</strong> to
  our True Self – a unique blend of modern psychology and ancient wisdom,
  philosophies and principals with practical, proven tools for genuine healing
  and transformation in our consciousness.
</p>

<p>
  <strong>A safe space, a place of beauty,</strong>imbued with the culture of Love where all are
  welcomed, accepted and supported on their journey.
</p>

<p>
  <strong>Deep gratitude fills my heart</strong> for my own journey that continues to unfold in
  this incredible adventure of enjoining with friends in the creation of Jalan
  Cinta Sanctuary. As I surrender fully into my passion and purpose in the Way of
  Love may the sweet mystery of God flow through me. Let's walk the Way of Love
  together!
</p>

<p>
  Kate
</p>

