<h2 class="heading-md h2-prof">Announcing the Returning Home Retreat</h2>
<h3 class="heading-md margin-bottom-30 h3-prof">March 19 &ndash; 27, 2016</h2>
<img class="jcs-center rounded img-responsive" src="/public/img/blog/kate/img/retreat-banner.png">

<h3>Download the Flyer for Complete Details</h3>
<a href="https://djzer6zmwwglx.cloudfront.net/dnload/narasoma-flyer1.pdf" 
  class="margin-right-10 rounded btn-u">
  <i class="fa fa-download"></i>&nbsp;Download Retreat Flyer
</a>

<p>
  <br/><em>You are invited</em> to a deeply healing and transformative 8-day retreat 
  in a truly nuturing and relaxed environment at <a href="http://www.narasoma.com/"
  target="_blank">Narasoma Retreat</a> &ndash; in the heart of Ubud, in the tropical 
  paradise of Bali.
</p>

<p>
  Come join in a sacred circle with friends, some of which you may never have met, desiring to 
  come together to heal, to grow, and explore Love &ndash; in a safe and supportive field.
</p>

<h3>Have You Ever Desired To:</h3>
<ul class="fa-ul">
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Feel balanced &amp; whole?</li>
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Experience &amp; know who you really are?</li>
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Discover &amp; know how to live in alignment with your own inner truth?</li>
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Release old fears &amp; wounds that may limit your wel-being &amp; happiness?</li>
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Heal &amp; transform at the core of your being?</li>
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Enjoy loving, fulfilling relationships?</li>
  <li>
    <i class="js-check fa fa-li fa-check"></i>
    Come to kow &amp; live the language and experience of Love?</li>
</ul>

<h3>Together We Explore:</h3>
<ul class="fa-ul">
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    Practical tools and techniques that are both powerful when used in everyday life and
    supportive for your ongoing healing and awakening
  </li>
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    The causes of unhappiness, conflict &amp; fear
  </li>
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    Identifying &amp; healing deep seated fears &amp; traumas</li>
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    Understanding true presence
  </li>
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    Conscious listening &map; communication skills
  </li>
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    Awakening to your innate inner perfect wholeness
  </li>
  <li>
    <i class="js-heart fa fa-li fa-heart-o"></i>
    Attuning to truth peace and Love
  </li>
</ul>
<p>
  All of the details have been taken care of for you. From the moment you enter the arrival hall
  and see the smiling face of your driver who will bring you to the door of what could be called a
  'Garden of Eden.' From the supportive Retreat Centre staff, the wonderful masseuse, to Kate
  herself, who will be waiting to welcome you home!
</p>

<h3>Retreat Dates</h3>
<ul class="fa-ul">
  <li>
    <i class="js-check fa fa-li fa-calendar-o"></i>
    Gathering begins: 6pm Saturday, March 19th, 2016
  </li>
  <li>
    <i class="js-check fa fa-li fa-calendar-o"></i>
    Retreat concludes: 10am Sunday, March 27, 2016
  </li>
</ul>

<a href="https://djzer6zmwwglx.cloudfront.net/dnload/narasoma-flyer1.pdf" 
  class="margin-right-10 rounded btn-u">
  <i class="fa fa-download"></i>&nbsp;Download Retreat Flyer
</a>

<p>
  <br/>
  For more information and to register to attend, please use 
  <a href="/profile/kate/index.html?id=contact">my contact page</a>
  or send an email to <a href="mailto:katejesmry@gmail.com">katejesmry@gmail.com</a>.
</p>

