<div id="contactTab" class="profile-edit tab-pane fade">
  <h2 class="heading-md">Manage your Security Settings</h2>
  <p>Contact Me</p>
  <br>
  <form class="sky-form" id="sky-form4" action="#">
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>
          <section>
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" required placeholder="Your Name" name="name">
              <b class="tooltip tooltip-bottom-right">Please enter your name</b>
            </label>
          </section>
        </dd>
        <dt>Email address</dt>
        <dd>
          <section>
            <label class="input">
              <i class="icon-append fa fa-envelope"></i>
              <input type="email" required placeholder="Email address" name="email">
              <b class="tooltip tooltip-bottom-right">So I can respond to you</b>
            </label>
          </section>
        </dd>
        <dt>Phone Number</dt>
        <dd>
          <section>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input type="tel" id="phone" name="phone" placeholder="">
              <b class="tooltip tooltip-bottom-right">Optionally provide your phone number</b>
            </label>
          </section>
        </dd>
        <dt>Enter your message</dt>
        <dd>
          <section>
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <textarea rows="8" required name="message" id="message" ></textarea>
              <!-- <input type="password" name="passwordConfirm" placeholder="Confirm password"> -->
              <b class="tooltip tooltip-bottom-right">Enter your message</b>
            </label>
          </section>
        </dd>
    </dl>
  </form>
</div>

