<div id="profile" class="profile-edit tab-pane fade in">
  {% include profile/kate/profile.html %}
  <br>
</div>
<div id="passion" class="profile-edit tab-pane fade in active">
  {% include profile/kate/passion.html %}
  <br>
</div>
<div id="books" class="profile-edit tab-pane fade in">
  {% include profile/kate/books.html %}
  <br/>
</div>
<div id="retreats" class="profile-edit tab-pane fade in">
  {% include profile/kate/retreats.html %}
  <br>
</div>
<div id="contact" class="profile-edit tab-pane fade">
  <h2 class="heading-md margin-bottom-20 h2-prof">Contact {{site.data.authors[page.author].name }}</h2>
  <p>
    Please contact me if you have any questions about Jalan Cinta Sanctuary, the
    Way of Love, upcoming retreats , private sessions or any other questions you
    may have.
    <br/>
    Thank you, Kate.
  </p>
  <br>
  {% include profile/kate/kate-contact.html %}
</div>

