<div id="passion" class="profile-edit tab-pane fade in">
  <h2 class="h2-prof margin-bottom-20">It All Began with a Simple Question</h2>
  <p>
    <strong>It all began with a simple question.</strong> I was a nurse at the time and curious
    about what a visitor had offered a patient. “What’s Reiki?” I asked. She
    beckoned me to her, to simply experience it. Her hands touched my shoulders and
    tingling energy poured through my body. Something stirred deep within my being. 
  </p>

  <p>
    <strong>Over the coming years I was thirsty to learn meditation, energetic and
    spiritual healing.</strong> It became a quest to support my younger daughter in her
    struggle with spinal scoliosis and ultimately the radical surgeries that she
    underwent. 
  </p>

  <p>
    <strong>Then in the late 1990s, memories of childhood trauma surfaced.</strong> This ignited
    a desperate need to heal the deep emotional and psychological wounds and
    suffering that tormented me. I resourced many avenues of healing, some of which
    gave a sense of relief, yet I knew there must be more.
  </p>

  <p>
    <strong>A desire began to enter my heart to support others to heal while continuing my
    own journey.</strong> I studied counselling and psychology and set up a private
    practice. Yet even with these skills I still felt there must be more. A deep
    question arose within me: 
  </p>

  <h2>
    How do we truly heal?
  </h2>

  <p>
    <strong>The universe began to answer my heartfelt question,</strong> though I didn’t recognise
    it initially. Through an incredible “coincidence” a magazine advertising a book
    called <em>The Way of the Heart</em> found its way to my kitchen table and fell open at
    the relevant page. I rushed to the phone to order a copy and when it arrived
    I immersed myself in it, a manuscript of profound lessons given by Jeshua, the
    one known by many as Jesus, channelled by a man called Jayem.
  </p>

  <p>
    <strong>A new journey began</strong> and the <em>Way of Mastery</em>, as it is 
    now known, led me to
    beautiful Bali for intensive retreats and pilgrimages around the world. It was
    during these retreats that I experienced deep and profound healing.
  </p>

  <p>
    Out of my own deeper healing emerged a desire to share my journey, which
    birthed my book <em>Returning Home to the essence of who I am.</em>  My intention with
    it is to provide a real example and instil hope that we can truly heal – to
    return home to who we are, to Love itself. The desire then evolved into a deep
    passion to support others in their healing journey, to grow into their
    empowerment and awaken to their deepest truth.
  </p>

  <h2>
    A passion and vision now swells my heart&hellip;
  </h2>

  <p>
    <strong>A holistic recipe that supports each of us to heal, awaken and return home</strong> to
    our True Self – a unique blend of modern psychology and ancient wisdom,
    philosophies and principals with practical, proven tools for genuine healing
    and transformation in our consciousness.
  </p>

  <p>
    <strong>A safe space, a place of beauty,</strong>imbued with the culture of Love where all are
    welcomed, accepted and supported on their journey.
  </p>

  <p>
    <strong>Deep gratitude fills my heart</strong> for my own journey that continues to unfold in
    this incredible adventure of enjoining with friends in the creation of Jalan
    Cinta Sanctuary. As I surrender fully into my passion and purpose in the Way of
    Love may the sweet mystery of God flow through me. Let's walk the Way of Love
    together!
  </p>

  <p>
    Kate
  </p>
  <br>
</div>
<div id="books" class="profile-edit tab-pane fade in">
  <img class="rounded pull-left lft-img-margin img-width-200" 
    src="/public/img/blog/kate/img/returning-home.png" alt="Returning Home" />

  <h2 class="heading-md h2-prof">Returning Home <small>by Kate Macnamara</small></h2>
  <br/>

  <p>
    Out of her own desperate Search for healing, Kate discovers the psychological
    and mystical truths that allow true healing and spiritual awakening. During
    a powerful mystical event she experience the reality of the true self as pure
    love and light in union with the Divine. In this moment she feels a deep
    calling to heal and awaken so she can be of service and support to others in
    their healing and awakening.
  </p>

  <p>
    Her healing journey taker her into her deepest wounds and fears to release the
    layers that hide the true self. As she journeys within herself she also travels
    through countries such as Egypt, France, Israel, Turkey and Bali where she
    attends powerful retreats and visits ancient sites.
  </p>

  <p>
    Kate also discovers that as Mother Earth is shaking and shifting the ‘time is
    now’ to heal and awaken from ego consciousness to Unity consciousness. The old
    epoch is ending; it is time to welcome the new.
  </p>

  <p>
    See the wonderful book trailer on <a target="_blank"
      href="https://www.youtube.com/watch?v=M3IhWjj8oOM">Youtube</a>
  </p>

  <p>
    <em>Returning Home</em> is available at book stores and through 
    <!-- <a target="_blank" href="https://www.amazon.com/author/katemacnamara">Amazon.</a> -->
    <a target="_blank" href="http://www.amazon.com/Returning-Home-Kate-Macnamara-ebook/dp/B00EX6PBJC/ref=asap_bc?ie=UTF8">Amazon.</a>
  </p>

  <br/>
</div>
<div id="retreats" class="profile-edit tab-pane fade in">
  <h2 class="heading-md h2-prof">Announcing the Returning Home Retreat</h2>
  <h3 class="heading-md margin-bottom-30 h3-prof">March 19 &ndash; 27, 2016</h2>
  <img class="jcs-center rounded img-responsive" src="/public/img/blog/kate/img/retreat-banner.png">

  <h3>Download the Flyer for Complete Details</h3>
  <a href="https://djzer6zmwwglx.cloudfront.net/dnload/narasoma-flyer1.pdf" 
    class="margin-right-10 rounded btn-u">
    <i class="fa fa-download"></i>&nbsp;Download Retreat Flyer
  </a>

  <p>
    <br/><em>You are invited</em> to a deeply healing and transformative 8-day retreat 
    in a truly nuturing and relaxed environment at <a href="http://www.narasoma.com/"
    target="_blank">Narasoma Retreat</a> &ndash; in the heart of Ubud, in the tropical 
    paradise of Bali.
  </p>

  <p>
    Come join in a sacred circle with friends, some of which you may never have met, desiring to 
    come together to heal, to grow, and explore Love &ndash; in a safe and supportive field.
  </p>

  <h3>Have You Ever Desired To:</h3>
  <ul class="fa-ul">
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Feel balanced &amp; whole?</li>
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Experience &amp; know who you really are?</li>
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Discover &amp; know how to live in alignment with your own inner truth?</li>
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Release old fears &amp; wounds that may limit your wel-being &amp; happiness?</li>
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Heal &amp; transform at the core of your being?</li>
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Enjoy loving, fulfilling relationships?</li>
    <li>
      <i class="js-check fa fa-li fa-check"></i>
      Come to kow &amp; live the language and experience of Love?</li>
  </ul>

  <h3>Together We Explore:</h3>
  <ul class="fa-ul">
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      Practical tools and techniques that are both powerful when used in everyday life and
      supportive for your ongoing healing and awakening
    </li>
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      The causes of unhappiness, conflict &amp; fear
    </li>
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      Identifying &amp; healing deep seated fears &amp; traumas</li>
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      Understanding true presence
    </li>
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      Conscious listening &map; communication skills
    </li>
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      Awakening to your innate inner perfect wholeness
    </li>
    <li>
      <i class="js-heart fa fa-li fa-heart-o"></i>
      Attuning to truth peace and Love
    </li>
  </ul>
  <p>
    All of the details have been taken care of for you. From the moment you enter the arrival hall
    and see the smiling face of your driver who will bring you to the door of what could be called a
    'Garden of Eden.' From the supportive Retreat Centre staff, the wonderful masseuse, to Kate
    herself, who will be waiting to welcome you home!
  </p>

  <h3>Retreat Dates</h3>
  <ul class="fa-ul">
    <li>
      <i class="js-check fa fa-li fa-calendar-o"></i>
      Gathering begins: 6pm Saturday, March 19th, 2016
    </li>
    <li>
      <i class="js-check fa fa-li fa-calendar-o"></i>
      Retreat concludes: 10am Sunday, March 27, 2016
    </li>
  </ul>

  <a href="https://djzer6zmwwglx.cloudfront.net/dnload/narasoma-flyer1.pdf" 
    class="margin-right-10 rounded btn-u">
    <i class="fa fa-download"></i>&nbsp;Download Retreat Flyer
  </a>

  <p>
    <br/>
    For more information and to register to attend, please use 
    <a href="/profile/kate/index.html?id=contact">my contact page</a>
    or send an email to <a href="mailto:katejesmry@gmail.com">katejesmry@gmail.com</a>.
  </p>
  <br>
</div>
<div id="contact" class="profile-edit tab-pane fade">
  <h2 class="heading-md margin-bottom-20 h2-prof">Contact {{site.data.authors[page.author].name }}</h2>
  <p>
    Please contact me if you have any questions about Jalan Cinta Sanctuary, the
    Way of Love, upcoming retreats , private sessions or any other questions you
    may have.
    <br/>
    Thank you, Kate.
  </p>
  <br>
{% include profile/author-contact.html %}
</div>

