<div id="passion" class="profile-edit tab-pane fade in">
  <h2 class="h2-prof margin-bottom-20">It All Began with a Simple Question</h2>
  <p>
    <strong>It all began with a simple question.</strong> I was a nurse at the time and curious
    about what a visitor had offered a patient. “What’s Reiki?” I asked. She
    beckoned me to her, to simply experience it. Her hands touched my shoulders and
    tingling energy poured through my body. Something stirred deep within my being. 
  </p>

  <p>
    <strong>Over the coming years I was thirsty to learn meditation, energetic and
    spiritual healing.</strong> It became a quest to support my younger daughter in her
    struggle with spinal scoliosis and ultimately the radical surgeries that she
    underwent. 
  </p>

  <p>
    <strong>Then in the late 1990s, memories of childhood trauma surfaced.</strong> This ignited
    a desperate need to heal the deep emotional and psychological wounds and
    suffering that tormented me. I resourced many avenues of healing, some of which
    gave a sense of relief, yet I knew there must be more.
  </p>

  <p>
    <strong>A desire began to enter my heart to support others to heal while continuing my
    own journey.</strong> I studied counselling and psychology and set up a private
    practice. Yet even with these skills I still felt there must be more. A deep
    question arose within me: 
  </p>

  <h2>
    How do we truly heal?
  </h2>

  <p>
    <strong>The universe began to answer my heartfelt question,</strong> though I didn’t recognise
    it initially. Through an incredible “coincidence” a magazine advertising a book
    called <em>The Way of the Heart</em> found its way to my kitchen table and fell open at
    the relevant page. I rushed to the phone to order a copy and when it arrived
    I immersed myself in it, a manuscript of profound lessons given by Jeshua, the
    one known by many as Jesus, channelled by a man called Jayem.
  </p>

  <p>
    <strong>A new journey began</strong> and the <em>Way of Mastery</em>, as it is 
    now known, led me to
    beautiful Bali for intensive retreats and pilgrimages around the world. It was
    during these retreats that I experienced deep and profound healing.
  </p>

  <p>
    Out of my own deeper healing emerged a desire to share my journey, which
    birthed my book <em>Returning Home to the essence of who I am.</em>  My intention with
    it is to provide a real example and instil hope that we can truly heal – to
    return home to who we are, to Love itself. The desire then evolved into a deep
    passion to support others in their healing journey, to grow into their
    empowerment and awaken to their deepest truth.
  </p>

  <h2>
    A passion and vision now swells my heart&hellip;
  </h2>

  <p>
    <strong>A holistic recipe that supports each of us to heal, awaken and return home</strong> to
    our True Self – a unique blend of modern psychology and ancient wisdom,
    philosophies and principals with practical, proven tools for genuine healing
    and transformation in our consciousness.
  </p>

  <p>
    <strong>A safe space, a place of beauty,</strong>imbued with the culture of Love where all are
    welcomed, accepted and supported on their journey.
  </p>

  <p>
    <strong>Deep gratitude fills my heart</strong> for my own journey that continues to unfold in
    this incredible adventure of enjoining with friends in the creation of Jalan
    Cinta Sanctuary. As I surrender fully into my passion and purpose in the Way of
    Love may the sweet mystery of God flow through me. Let's walk the Way of Love
    together!
  </p>

  <p>
    Kate
  </p>
  <br>
</div>
<div id="books" class="profile-edit tab-pane fade in">
  <img class="rounded pull-left lft-img-margin img-width-200" 
    src="/public/img/blog/kate/img/returning-home.png" alt="Returning Home" />

  <h2 class="heading-md h2-prof">Returning Home <small>by Kate Macnamara</small></h2>
  <br/>

  <p>
    Out of her own desperate Search for healing, Kate discovers the psychological
    and mystical truths that allow true healing and spiritual awakening. During
    a powerful mystical event she experience the reality of the true self as pure
    love and light in union with the Divine. In this moment she feels a deep
    calling to heal and awaken so she can be of service and support to others in
    their healing and awakening.
  </p>

  <p>
    Her healing journey taker her into her deepest wounds and fears to release the
    layers that hide the true self. As she journeys within herself she also travels
    through countries such as Egypt, France, Israel, Turkey and Bali where she
    attends powerful retreats and visits ancient sites.
  </p>

  <p>
    Kate also discovers that as Mother Earth is shaking and shifting the ‘time is
    now’ to heal and awaken from ego consciousness to Unity consciousness. The old
    epoch is ending; it is time to welcome the new.
  </p>

  <p>
    See the wonderful book trailer on <a target="_blank"
      href="https://www.youtube.com/watch?v=M3IhWjj8oOM">Youtube</a>
  </p>

  <p>
    <em>Returning Home</em> is available at book stores and through 
    <!-- <a target="_blank" href="https://www.amazon.com/author/katemacnamara">Amazon.</a> -->
    <a target="_blank" href="http://www.amazon.com/Returning-Home-Kate-Macnamara-ebook/dp/B00EX6PBJC/ref=asap_bc?ie=UTF8">Amazon.</a>
  </p>

  <br/>
</div>
<div id="contact" class="profile-edit tab-pane fade">
  <h2 class="heading-md margin-bottom-20 h2-prof">Contact {{site.data.authors[page.author].name }}</h2>
  <p>
    Please contact me if you have any questions about Jalan Cinta Sanctuary, the
    Way of Love, upcoming retreats , private sessions or any other questions you
    may have.
    <br/>
    Thank you, Kate.
  </p>
  <br>
{% include profile/author-contact.html %}
</div>
<!-- <div id="retreats" class="profile-edit tab-pane fade in"> -->
<!--   Hello - this is about Kate's retreats -->
<!--   <br> -->
<!-- </div> -->

