<!--just an example - we would use paypal probably-->
<div id="payment" class="profile-edit tab-pane fade">
  <h2 class="heading-md">Manage your Payment Settings</h2>
  <p>Below are the payment options for your account.</p>
  <br>
  <form class="sky-form" id="sky-form" action="#">
    <!--Checkout-Form-->
    <section>
      <div class="inline-group">
        <label class="radio"><input type="radio" checked="" name="radio-inline">
          <i class="rounded-x"></i>Visa</label>
        <label class="radio"><input type="radio" name="radio-inline">
          <i class="rounded-x"></i>MasterCard</label>
        <label class="radio"><input type="radio" name="radio-inline">
          <i class="rounded-x"></i>PayPal</label>
      </div>
    </section>

    <section>
      <label class="input">
        <input type="text" name="name" placeholder="Name on card">
      </label>
    </section>

    <div class="row">
      <section class="col col-10">
        <label class="input">
          <input type="text" name="card" id="card" placeholder="Card number">
        </label>
      </section>
      <section class="col col-2">
        <label class="input">
          <input type="text" name="cvv" id="cvv" placeholder="CVV2">
        </label>
      </section>
    </div>

    <div class="row">
      <label class="label col col-4">Expiration date</label>
      <section class="col col-5">
        <label class="select">
          <select name="month">
            <option disabled="" selected="" value="0">Month</option>
            <option value="1">January</option>
            <option value="1">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <i></i>
        </label>
      </section>
      <section class="col col-3">
        <label class="input">
          <input type="text" placeholder="Year" id="year" name="year">
        </label>
      </section>
    </div>
    <button type="button" class="btn-u btn-u-default">Cancel</button>
    <button class="btn-u" type="submit">Save Changes</button>
    <!--End Checkout-Form-->
  </form>
</div>

