<!--this is not really the projects tab content - just a placeholder-->
<!--- need to add the proper content-->
<div id="passwordTab" class="profile-edit tab-pane fade">
  <h2 class="heading-md">Manage your Security Settings</h2>
  <p>Change your password.</p>
  <br>
  <form class="sky-form" id="sky-form4" action="#">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd>
        <section>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="text" placeholder="Username" name="username">
            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
          </label>
        </section>
      </dd>
      <dt>Email address</dt>
      <dd>
        <section>
          <label class="input">
            <i class="icon-append fa fa-envelope"></i>
            <input type="email" placeholder="Email address" name="email">
            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
          </label>
        </section>
      </dd>
    </dl>
  </form>
</div>

