<div id="passion" class="profile-edit tab-pane fade in">
  <h2 class="h2-prof margin-bottom-20">Heart's Desire</h2>
  <p>
    It all began with <em>Autobiography of a Yogi</em>, which I read while still in high
    school. That was when the desire to learn the mysteries of the world was first
    sparked within me. It revealed as fact what could only be a fantasy world, and
    awoke within me the potential of living an extraordinary life.
  </p>

  <p>
    I fell in love with the adventures of Carlos Castenada and desired to learn
    about the world through travel. After many years and many challenges
    I eventually found <em>A Course in Miracles</em> and, with that, the flame of desire to
    change my life ignited from deep within me.
  </p>

  <p>
    I started to change, many lessons of love and forgiveness were presented, and
    I felt slow to learn. But more and more the binds of limiting beliefs began to
    loosen and I found my desire for growth continued to increase.
  </p>

  <p>
    I read the <em>Course</em>, did the workbook, and then discovered <em>The Way of Mastery</em>.
    Eventually it took me into the Jewels Course and to Israel with Jayem. And,
    finally, I found my way and moved to the ashram in Bali.
  </p>
  <h2>
    I felt a deep desire to change my life and to actually put the teachings into
    practice. 
  </h2>

  <p>
    Moving to Bali was a huge step in that direction. Everything changed and
    I found myself surrounded by others who had similar desires. I wanted to learn
    and grow, and I wanted to find a way in which to serve – to use my skills to
    extend and express my love for the expression of Christ Mind given by Jeshua
    through Jayem in the <em>Way of Mastery</em>.
  </p>
  <p>
    Over time I came to realise that the essence of Christ Mind teachings can be
    found everywhere, and to see it requires only that I be willing to pay
    attention. And I love to ‘discover’ it – out there, in the world, because each
    discovery takes me deeper into feeling what is taught and strengthens my desire
    to learn.
  </p>
  <h2>
    My passion is to dive ever more deeply in the Way of Mastery and other Christ
    Mind teachings and to provide a platform for learning and sharing the
    inspiration that inevitably arises from such a journey. 
  </h2>
  <p>
    Jalan Cinta Sanctuary offers a space rooted in the joint passion of a group of
    friends to consciously grow into Love as a lived reality – and in welcoming
    that as our way of living, to support everyone on the journey of awakening. As
    such I feel it provides an environment that will allow my heart’s desire to be
    fulfilled.
  </p>
  <p>
    Rick ;-)
  </p>
</div>
<div id="contact" class="profile-edit tab-pane fade">
  <h2 class="heading-md h2-prof">Contact {{site.data.authors[page.author].name }}</h2>
  <p>Contact Me</p>
  <br>
  {% include profile/author-contact.html %}
</div>

