<div id="passion" class="profile-edit tab-pane fade in">
  <h2 id="a-love-story" class="h2-prof margin-bottom-20">A Love Story</h2>
  <p>
    All my life I have asked just one question in many forms. How can we be true to
    ourself and live meaningful, fulfilling, authentic and connected lives without
    limitation? 
  </p>
  <p>
    I’ve argued with myself. I’ve argued with others. I’ve tried to convince myself
    it was beyond reach and wasn’t possible. I’ve felt irreparably broken and
    rotten to the core. 
  </p>
  <p>
    And I’ve felt I was better, smarter and more talented than others.
  </p>
  <p>
    I’ve found fault with those I declared I loved and chose others for special
    treatment.
  </p>
  <p>
    I’ve felt alone and lost. Even scared of life.
  </p>
  <p>
    As a teenager I studied the occult and tarot. At university my thesis started
    to unravel the workings of the ego. I spent a decade in the tribal world of
    politics - a pressure cooker for the ego and then the same in the cut and
    thrust of business. At the time I didn’t realise this time was key to my
    spiritual education.
  </p>
  <p>
    I’ve subliminal highs and the lowest of lows.
  </p>
  <p>
    However even through my darkest moments I could sense there was a way to heal.
    A way to make whole and one again what appeared separate. To unify and reunify.
  </p>
  <p>
    Deep inside I knew there was a way to live a life that made sense.
  </p>
  <p>
    I had left school at 15 and retired in my early 40's as a self-made
    millionaire. But it was only when a series of seismic personal events marked
    the unmistakable movement that is the call to awaken.
  </p>
  <p>
    For forty years I was frozen. It took forty years for my soul to thaw, mature
    and be ready to feel again. My soul was safely protected in my ego but now it
    was ready to be birthed into the world. 
  </p>
  <p>
    I had searched everywhere for what I believed I was missing. But year in and
    year out there was one place I dared not venture.  There was one place I dared
    not look. It was my dark side, my own shadow that terrified me so much that
    held the key. 
  </p>
  <p>
    Little did I know then that in the blackness was my own light.
  </p>
  <p>
    Slowly I bought wonder and curiosity to my own consciousness.
  </p>
  <p>
    The victimhood, guilt, blame and judgment of most of my life were replaced by
    awe and amazement. 
  </p>
  <p>
    A deep and profound gratitude for my life began to permeate my being. All of
    it. The bliss and the sadness. The love and the loneliness. The acceptance and
    the anger. This astonishing, amazing, wondrous, incredible, extraordinary and
    inspiring thing called our existence.
  </p>
  <p>
    It was when I finally started to explore my own consciousness and to thaw my
    frozen heart that true wisdom began to emerge.
  </p>
  <p>
    Now from decades of study and personal exploration the answer to my question
    has emerged with unquestionable clarity.
  </p>
  <p>
    The answer was so simple but can take a life time to live.
  </p>
  <p>
    The answer was contained in a word that revealed everything.
  </p>
  <p>
    Love. 
  </p>
  <p>
    A palpable sensed feeling of connection. A force more powerful and mysterious
    than any other. A way of being that transcends all limitations and problems.
    A pathway home. 
  </p>
  <p>
    Love is all we need. Love connects us to our own soul and our divinity. It
    connects us with our heart and our genius.
  </p>
  <p>
    Love heals our past wounds and transcends judgment.
  </p>
  <p>
    Loves releases our passion and our creativity.
  </p>
  <p>
    Love reminds us we are whole and perfect just as we are. Nothing to change and
    nothing to fix.
  </p>
  <p>
    Love sets us free.
  </p>
  <p>
    AND it was love that brought us all together to build a Sanctuary dedicated to
    our hearts, inspired by our wisdom and made possible by our passion.
  </p>
  <p>
    At Jalan Cinta Sanctuary we come together as a community of equals. True
    friends of the heart. No gurus but many teachers. Each teacher also a student. 
  </p>
  <p>
    We empower each other to access and only ever trust our own direct connection
    with source and to value our own unique genius and gift to the world.
  </p>
  <p>
    For me Jalan Cinta Sanctuary is:
  </p> 
  <ul class="fa-ul"> 
    <li>
      <i class="fa-li fa fa-star-o"></i>
      A place beyond right and wrong.
    </li> 
    <li>
      <i class="fa-li fa fa-star-o"></i>
      A living breathing example of love in form.
    </li> 
    <li>
      <i class="fa-li fa fa-star-o"></i>
      A whole and unified vision of the universal eternal teachings.
    </li> 
    <li>
      <i class="fa-li fa fa-star-o"></i>
      A sacred marriage of the transcendent father and earthly mother.
    </li> 
    <li>
      <i class="fa-li fa fa-star-o"></i>
      An incubation and birthing centre to transform our world. A world beyond fear and division.
    </li> 
    <li>
      <i class="fa-li fa fa-star-o"></i>
      A world where we release our limiting beliefs and unleash our potential.
    </li>
  </ul>
  <p>
    <strong>I am</strong>
    absolutely totally committed to creating Jalan Cinta Sanctuary as
    a safe haven for people from all walks of life to come, immerse, be
    held in unconditional love, to heal and to be empowered to live an
    extraordinary life!
  </p> 
  <p>
    Join us on this extraordinary adventure.
  </p> 
  <p>
    Love and blessings,
  </p> 
  <p>
    Rod
  </p>
  <br>
</div>
<div id="contact" class="profile-edit tab-pane fade">
  <h2 class="heading-md h2-prof">Contact {{site.data.authors[page.author].name }}</h2>
  <p>Contact Me</p>
  <br>
  {% include profile/author-contact.html %}
</div>

