<!--sidebar item for latest posts-->
<div class="headline headline-md"><h2>Author Posts</h2></div>
<!-- Latest Links -->
<div class="list-group">
  <button type="button" class="list-group-item">
    <a href="{{site_url}}/blog/author/kate/index.html">Kate Macnamara</a>
  </button>
  <button type="button" class="list-group-item">
    <a href="{{site_url}}/blog/author/rod/index.html">Rod West</a>
  </button>
  <button type="button" class="list-group-item">
    <a href="{{site_url}}/blog/author/sandy/index.html">Sandy Button</a>
  </button>
  <button type="button" class="list-group-item">
    <a href="{{site_url}}/blog/author/rick/index.html">Rick Mercer</a>
  </button>
</div>

