<!--Vimeo Post-->
<div class="row margin-bottom-20">
  <div class="col-sm-5 sm-margin-bottom-20">
    <div class="responsive-video">
      <iframe src="//player.vimeo.com/video/93094247?title=0&byline=0&portrait=0" 
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="col-sm-7 news-v3">
    <div class="news-v3-in-sm no-padding">
      <ul class="list-inline posted-info">
        <li>Author</li>
        <li>In <a href="#">Category | Topic</a></li>
        <li>Posted [date]</li>
      </ul>
      <h2><a href="#">Title</a></h2>
      <p>Excerpt</p>
      <ul class="post-shares">
        <li>
          <a href="#">
            <i class="rounded-x icon-speech"></i>
            <span>5</span>
          </a>
        </li>
        <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
        <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
      </ul>
    </div>
  </div>
</div><!--/end row-->

