// Full list of configuration options available at:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({

    // Display controls in the bottom right corner
    controls: true,

    // Display a presentation progress bar
    progress: true,

    // Display the page number of the current slide
    slideNumber: false,

    // Push each slide change to the browser history
    history: false,

    // Enable keyboard shortcuts for navigation
    keyboard: true,

    // Enable the slide overview mode
    overview: true,

    // Vertical centering of slides
    center: true,

    // Enables touch navigation on devices with touch input
    touch: true,

    // Loop the presentation
    loop: false,

    // Change the presentation direction to be RTL
    rtl: false,

    // Turns fragments on and off globally
    fragments: true,

    // Flags if the presentation is running in an embedded mode,
    // i.e. contained within a limited portion of the screen
    embedded: false,

    // Flags if we should show a help overlay when the questionmark
    // key is pressed
    help: true,

    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    autoSlide: 0,

    // Stop auto-sliding after user input
    autoSlideStoppable: true,

    // Enable slide navigation via mouse wheel
    mouseWheel: false,

    // Hides the address bar on mobile devices
    hideAddressBar: true,

    // Opens links in an iframe preview overlay
    previewLinks: false,

    // Transition style
    // none/fade/slide/convex/concave/zoom
    transition: 'default', 

    // Transition speed
    // default/fast/slow
    transitionSpeed: 'default', 

    // Transition style for full page slide backgrounds
    // none/fade/slide/convex/concave/zoom
    backgroundTransition: 'default', 

    // Number of slides away from the current that are visible
    viewDistance: 3,

    // Parallax background image
    // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"
    parallaxBackgroundImage: '',

    // Parallax background size
    // CSS syntax, e.g. "2100px 900px"
    parallaxBackgroundSize: '',

    // Amount to move parallax background (horizontal and vertical) on slide change
    // Number, e.g. 100
    parallaxBackgroundHorizontal: '',
    parallaxBackgroundVertical: '',

    menu: {
      path: '/public/plugins/reveal/menu',

      // Specifies which side of the presentation the menu will 
      // be shown. Use 'left' or 'right'.
      side: 'left',

      // Add slide numbers to the titles in the slide list.
      // Use 'true' or format string (same as reveal.js slide numbers)
      numbers: false,

      // Hide slides from the menu that do not have a title.
      // Set to 'true' to only list slides with titles.
      hideMissingTitles: false,

      // Add markers to the slide titles to indicate the 
      // progress through the presentation
      markers: false,

      // Specify custom panels to be included in the menu, by
      // providing an array of objects with 'title', 'icon'
      // properties, and either a 'src' or 'content' property.
      custom: [
        {title: 'JCS', icon: '<i class="fa fa-link"></i>',
          src: '/public/plugins/reveal/menu/panel/link.html'}
      ],

      // Specifies the themes that will be available in the themes
      // menu panel. Set to 'false' to hide themes panel.
      themes: [
        { name: 'Black',     theme: '/public/css/reveal/theme/black.css' },
        { name: 'White',     theme: '/public/css/reveal/theme/white.css' },
        { name: 'League',    theme: '/public/css/reveal/theme/league.css' },
        { name: 'Sky',       theme: '/public/css/reveal/theme/sky.css' },
        { name: 'Beige',     theme: '/public/css/reveal/theme/beige.css' },
        { name: 'Simple',    theme: '/public/css/reveal/theme/simple.css' },
        { name: 'Serif',     theme: '/public/css/reveal/theme/serif.css' },
        { name: 'Blood',     theme: '/public/css/reveal/theme/blood.css' },
        { name: 'Night',     theme: '/public/css/reveal/theme/night.css' },
        { name: 'Moon',      theme: '/public/css/reveal/theme/moon.css' },
        { name: 'Solarized', theme: '/public/css/reveal/theme/solarized.css' }
      ],

      // Specifies if the transitions menu panel will be shown.
      transitions: true,

      // Adds a menu button to the slides to open the menu panel.
      // Set to 'false' to hide the button.
      openButton: true,

      // If 'true' allows the slide number in the presentation to
      // open the menu panel. The reveal.js slideNumber option must 
      // be displayed for this to take effect
      openSlideNumber: false,

      // If true allows the user to open and navigate the menu using
      // the keyboard. Standard keyboard interaction with reveal
      // will be disabled while the menu is open.
      keyboard: true
    },

    dependencies: [
      // Cross-browser shim that fully implements classList - 
      // https://github.com/eligrey/classList.js/
      { src: '/public/js/pulgins/reveal/classList.js', condition: function() { 
          return !document.body.classList; 
        }
      },

      // Interpret Markdown in <section> elements
      /*{ src: '/public/js/plugins/reveal/markdown/marked.js', condition: function() { */
      /*    return !!document.querySelector( '[data-markdown]' ); */
      /*  }*/
      /*},*/
      /*{ src: '/public/js/plugins/reveal/markdown/markdown.js', condition: function() { */
      /*    return !!document.querySelector( '[data-markdown]' ); */
      /*  } */
      /*},*/

      // Syntax highlight for <code> elements
      /*{ src: '/public/js/plugins/reveal/highlight/highlight.js', async: true, callback: function() { */
      /*    hljs.initHighlightingOnLoad(); */
      /*  } */
      /*},*/

      // Zoom in and out with Alt+click
      { src: '/public/js/plugins/reveal/zoom-js/zoom.js', async: true },

      // Speaker notes
      { src: '/public/js/plugins/reveal/notes/notes.js', async: true },

      // Remote control your reveal.js presentation using a touch device
      /*{ src: '/public/js/plugins/reveal/remotes/remotes.js', async: true },*/

      // MathJax
      /*{ src: '/public/js/plugins/reveal/math/math.js', async: true }*/

      { src: '/public/plugins/reveal/menu/menu.js' }
    ]
});
