  <h2 id="how" class="h2-prof margin-bottom-20">How it All Began</h2>

  <p>
    <strong>When I walked out of my house on a humid Thursday evening</strong>
    fifteen years ago I didn't know that I was embarking on a journey that was to
    change my life profoundly, and forever. Life as I knew it - living in
    Queensland with a high-flying corporate career, awesome house, great car, my
    beloved horses and dog - all about to be surrendered to a passion that set me
    alight like a spark on dry kindling.
  </p>

  <p>
    <strong>I have always had an interest in New Age, Healing, Self-Help and
    Spirituality</strong> although I came from a non-religious background so
    leaned toward words like the Universe and Source.
  </p>

  <p>
    <strong>So on that Thursday evening,</strong> when my Reiki/Meditation group
    gathered to listen to a recording of teachings channelled through a then
    little-known American, it definitely brought up some judgements. Channelling?
    God? Jesus? Jeshua? Christ? - not for me, thank you! But the moment I heard the
    message I was utterly consumed. I wanted to know more, I wanted to meet the man
    who spoke the words and <em>be part of it</em> - whatever 'it' was. I dived in;
    listened, read, watched and immersed myself in the <em>Way of Mastery</em> and
    all of the wisdom it offered.
  </p>

  <p>
    <strong>Several years later I met the channel, Jayem,</strong> and for the
    first time, the message within the teachings shifted from mental ideas to
    a palpable feeling state within the body. It was then that the spark became
    a flame and life as I knew it was turned upside down.
  </p>

  <p>
    <strong>Shortly afterwards, I felt moved</strong> to leave Australia and
    head for Bali, where I have been learning, and living the teachings as offered
    through Jayem. As his business partner, assistant, boss (as he jokingly calls
    me) and friend it has been a unique opportunity to engage in the work at
    a level that is vastly different to just attending a workshop. I feel enormous
    gratitude that I have been able to play a key role in the set up and
    running of all that has birthed through the <em>Way of Mastery</em> during the
    last eleven years.
  </p>

  <blockquote class="hero text-center">
    <p>
      <strong>Along the way I discovered that my deepest longing and passion lies in
      serving the awakening of humanity.</strong>
    </p>
  </blockquote>

  <p>
    It has been quite a journey to come to live from a place of true service and
    I also recognise that my journey is just beginning...
  </p>

  <h2>A vision emerged</h2>

  <p>
    <strong>I discovered a profound desire to extend Love,</strong> to touch
    hearts and minds, in the same way I have been touched. And with the gradual
    emergence of a specific vision it focused the energy like a laser beam.
  </p>

  <p>
    <strong>Living in Bali,</strong> I have been immersed in a way of life
    surrounded by the lushness of nature and the ever-present reminder of
    spirituality in the statues and buildings and daily ceremonies of the Balinese
    people.
  </p>

  <blockquote class="hero text-center">
    <p>
      <strong>In that daily soup, deeply engaged with these teachings about Love, there
      emerged within the vision of creating a place of great beauty and inspiration
      - a physical space that is a living, breathing experience of Christ
      Consciousness.</strong>
    </p>
  </blockquote>

  <p>
    <strong>Over time it began to crystallise into physical form</strong> as
    a Sanctuary - a Training and Retreat Centre, a call for a genuinely loving
    community - built in conjunction with the local people, so that their
    traditional ways are honoured and they also benefit from the development. Its
    name, I only discovered quite recently, is <em>Jalan Cinta</em> (the Way of
    Love in Indonesian): Jalan Cinta Sanctuary.
  </p>

  <h2>I see...</h2>

  <p>
    <strong>I see, with huge, overflowing gratitude,</strong> that 'my' entire
    life, with its specific corporate experience and spiritual trajectory, has been
    carefully woven towards this moment, this expression, right here, right now!
  </p>

  <p>
    <strong>I see that I am simply a midwife</strong> in the birthing of the
    Sanctuary. It belongs to no one person, and yet is here to serve anyone who is
    ready for its healing energies. While the Sanctuary is based in Bali, I sense
    that what is developed here, embodying the <em>Way of Love,</em> will extend
    around the world.
  </p>

  <p>
    <strong>I see that each moment, each choice, each decision,</strong> in the
    Sanctuary's creation and on-going running offers an opportunity to surrender my
    own thoughts and be informed by the Divine. To create a vehicle for living as
    Love, for embodying the essence of genuine spirituality, lived daily and lived
    unconditionally.
  </p>

  <p>
    <strong>I see that this project is being given to me as an
    opportunity</strong> to hold everyone (and myself!) in Love, to dive more
    deeply into my unique expression of the Divine - of what God desires to birth
    through me - to step into my own awakening, my own Christed Consciousness.
  </p>

  <p>
    <strong>May Love be extended through me,</strong> and as Jalan Cinta Sanctuary
    crystallizes into form, may it offer all who enter the opportunity to awaken to
    their own passion. May I be committed to seeing the miraculous in each being
    who steps through the gates, to reflecting it back to them and supporting the
    birth of their Divine inspirations into the world.
  </p>

  <p>
    May the Divine emerge through each of us for Only Love is Real! Only Love Is!
    And we are One!
  </p>

  <p>Sandy</p>

