<h2 id="who" class="h2-prof margin-bottom-20">Experience</h2>
<p>Sandy has extensive experience in the areas of training, administration, management, hospitality, quality control and spirituality.</p>
<p>KEY EMPLOYMENT HISTORY</p>
<ul>
<li>CEO, Heartfelt Publishing PMA</li>
<li>National Manager, Academie Accor – A division of Accor Asia Pacific Hotels and Resort</li>
<li>Campus Director, Senior Trainer and Vocational Placement Officer, Hospitality Australia 2000 Pty Ltd</li>
</ul>
<p>QUALIFICATIONS</p>
<ul>
<li>Certificate VI in Training and Assessment</li>
<li>Diploma in Hospitality</li>
<li>Certificate of Applied Social Sciences</li>
</ul>
