<title>{% if page.title %} {{page.title}} {% else %}Jalan Cinta Sanctuary{% endif %}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Way of Love">

{% if page.social %}
{% include social/{{page.social | append: ".meta"}} %}
{% else %}
{% include social/fb.meta %}
{% endif %}

<link rel="alternate" type="application/rss+xml" href="/rss/feed.xml" title="JCS RSS Feed">

{% comment %}
{% include favicon/original.html %}
{% endcomment %}
{% include favicon/flower2.html %}

<!-- Web Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
{% if page.backstretch %}
  {% include backstretch/{{page.backstretch}}.css %}
{% endif %}

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="/public/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css">

<!-- CSS Header and Footer -->
<link rel="stylesheet" href="/public/css/headers/header-v4.css">
<link rel="stylesheet" href="/public/css/footers/footer-default.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/public/plugins/animate.css">
<link rel="stylesheet" href="/public/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="/public/plugins/font-awesome/css/font-awesome.min.css">
{% if page.gallery %}
  {% include gallery/{{page.gallery}}.css %}
{% endif %}
{% if page.id == "error" %}
<link rel="stylesheet" href="/public/css/pages/page_404_error.css">
{% endif %}

<!--if page.feature == "profile" -->
{% if page.feature == 'profile' %}
<link rel="stylesheet" href="/public/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="/public/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<link rel="stylesheet" href="/public/css/profile.css">
{% endif %}

<!-- CSS Customization -->
<link rel="stylesheet" href="/public/css/custom.css">
<link rel="stylesheet" href="/public/css/theme-colors/jcs.css" />
{% comment %}
<link rel="stylesheet" href="/public/css/theme-colors/blue.css" />
{% endcomment %}

{% include analytics/google.js %}

