<title>{% if page.title %} {{page.title}} {% else %}Jalan Cinta Sanctuary{% endif %}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Way of Love">

{% if include.social %}
{% include social/{{include.social | append: ".meta"}} %}
{% else %}
{% include social/post.meta %}
{% endif %}

{% include favicon/jcs.html %}

<!-- Web Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="/public/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css">

<!-- CSS Header and Footer -->
<link rel="stylesheet" href="/public/css/headers/header-v4.css">
<link rel="stylesheet" href="/public/css/footers/footer-default.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/public/plugins/animate.css">
<link rel="stylesheet" href="/public/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="/public/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/plugins/fancybox/source/jquery.fancybox.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="/public/css/custom.css">
<link rel="stylesheet" href="/public/css/theme-colors/jcs.css" />
<link rel="stylesheet" href="/public/css/hopscotch.min.css">

{% include analytics/google.js %}

