<!--navbar-v4-->
<div class="navbar navbar-default mega-menu" role="navigation">
  {% include unify/navbar-header-v4.html %}

  <div class="collapse navbar-collapse navbar-responsive-collapse">
      <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">home</a></li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                sanctuary
              </a>
              <ul class="dropdown-menu">
                <li><a href="/vision.html">vision and purpose</a></li>
                <li><a href="/principle.html">our guiding principle</a></li>
                <li><a href="/teachings.html">teachings</a></li>
                <li><a href="/land.html">land and buildings</a></li>
                <li><a href="/plans.html">sitemap and plans</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                offerings
              </a>
              <ul class="dropdown-menu">
                <li><a href="/download.html">downloads</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                how it works
              </a>
              <ul class="dropdown-menu">
                <li><a href="/operation.html">operation</a></li>
                <li><a href="/fm.html">founding members</a></li>
                <!-- <li><a href="#">faq</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                gallery
              </a>
              <ul class="dropdown-menu">
                <li><a href="/gallery1.html">the sanctuary site</a></li>
                <li><a href="/gallery2.html">ubud and bali</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                be part of this
              </a>
              <ul class="dropdown-menu">
                <li><a href="/picture.html">the big picture</a></li>
                <li><a href="/villa.html">your own villa</a></li>
                <li><a href="/donate.html">make a donation</a></li>
              </ul>
            </li>
            <li><a href="/blog/post/index.html">latest news</a></li>
            <li><a href="/contact.html">connect</a></li>
          </ul>
      </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>

