<!--navbar-v4-->
<div class="navbar navbar-default mega-menu" role="navigation">
  {% include unify/navbar-header-v4.html %}

  <div class="collapse navbar-collapse navbar-responsive-collapse">
      <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">home</a></li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                sanctuary
              </a>
              <ul class="dropdown-menu">
                <li><a href="/vision.html">vision and purpose</a></li>
                <li><a href="/principle.html">our guiding principle</a></li>
                <li><a href="/teachings.html">teachings</a></li>
                <li><a href="/operation.html">operation</a></li>
                <li><a href="/profile/founders/index.html">founding members</a></li>
                {% comment %}
                <li><a href="/land.html">land and buildings</a></li>
                <li><a href="/plans.html">sitemap and plans</a></li>
                {% endcomment %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                building plans
              </a>
              <ul class="dropdown-menu">
                <li><a href="/plans-intro.html">introduction</a></li>
                <li><a href="/plans-sitemap.html">sitemap</a></li>
                <li><a href="/plans-entrance.html">entrance</a></li>
                <li><a href="/plans-pool.html">main pool</a></li>
                <li><a href="/plans-studio.html">the studios</a></li>
                <li><a href="/plans-villas.html">the villas</a></li>
                <li><a href="/plans-available.html">available spaces</a></li>
              </ul>
            </li>
            {% comment %}
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                how it works
              </a>
              <ul class="dropdown-menu">
                <li><a href="/operation.html">operation</a></li>
                <!-- <li><a href="/fm.html">founding members</a></li> -->
                <li><a href="/profile/founders/index.html">founding members</a></li>
                <!-- <li><a href="#">faq</a></li> -->
              </ul>
            </li>
            {% endcomment %}
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                be part of this
              </a>
              <ul class="dropdown-menu">
                <li><a href="/picture.html">overview</a></li>
                <li><a href="/villa.html">your own villa</a></li>
                <li><a href="/donate.html">make a donation</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                offerings
              </a>
              <ul class="dropdown-menu">
                <li><a href="/download.html">downloads</a></li>
                <li><a href="/cmi.html">christ mind library</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                gallery
              </a>
              <ul class="dropdown-menu">
                <li><a href="/gallery1.html">the sanctuary site</a></li>
                <li><a href="/gallery2.html">ubud and bali</a></li>
                <li><a href="/flyer.html">informative flyer</a></li>
              </ul>
            </li>
            <li><a href="/blog/post/index.html">latest news&nbsp;&nbsp;<i class="fa fa-rss"></i></a></li>
            <li><a href="/contact.html">connect</a></li>
          </ul>
      </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>

