<script type="text/javascript" src="public/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="public/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="public/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="public/plugins/back-to-top.js"></script>
<script type="text/javascript" src="public/plugins/backstretch/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="public/plugins/smoothScroll.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="public/js/custom.js"></script>

<!-- JS Page Level -->
<script type="text/javascript" src="public/js/app.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
  });
</script>
<!-- Background Slider (Backstretch) -->
<script>
    $.backstretch([
      "public/img/coming-soon/ridge.jpg",
      "public/img/coming-soon/olir.png",
      "public/img/coming-soon/saraswati.jpg",
      "public/img/coming-soon/beacon.jpg",
      "public/img/coming-soon/TropicalPlants.jpg"
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
<!--[if lt IE 9]>
    <script src="public/plugins/respond.js"></script>
    <script src="public/plugins/html5shiv.js"></script>
    <script src="public/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

