<h2 id="who" class="h2-prof margin-bottom-20">Who Am I?</h2>
<p>When next someone asks you &quot;Oh, who are you?&quot;, please do not give them a name, do not say,</p>
<blockquote>
<p><em>Well, I was born in a certain town, in a certain part of the planet.</em></p>
</blockquote>
<p>Don’t tell them that you are a Democrat, or a Republican, or a communist, or an atheist, or a Catholic. Tell them the Truth:</p>
<blockquote>
<h2 id="who-am-i">Who am I?</h2>
<p><em>I am the extension of Love in form. I have never been born and I will never taste death. I am infinite and eternal. I shine forth as a sunbeam to the sun. I am the effect of God’s Love.</em></p>
<p><em>And, I stand before you to love you.</em></p>
<p><small>from <a target="_blank" href="https://www.christmind.info/wom/woh/l04/#p12"><em>Way of the Heart</em></a> - Lesson 4</small></p>
</blockquote>
<hr />
<p>Beside that – <em>as if that were not enough</em> – I have extensive technical experience installing, configuring, developing, and supporting software solutions on projects both large and small for government and industry.</p>
<p>I support Jalan Cinta Sanctuary through development of the website and technical components of other projects.</p>
<p>Please contact me directly if you notice any problems with the website or want to suggest a great idea for a new website feature or technically related project.</p>
