<h2 id="a-love-story" class="h2-prof margin-bottom-20">A Love Story</h2>
<p>All my life I have asked one question in many forms. How can we live authentic, meaningful and fulfilling lives without limitation?</p>
<p>It hasn’t always been easy. I’ve argued with myself. I’ve argued with others. I’ve tried to stay safe by convincing myself it was beyond reach. I’ve felt irreparably broken and felt I was better than others.</p>
<p>I’ve found fault with those I declared I loved. I’ve felt alone and lost. Even scared of life. I’ve tried to prove I was worthy. I’ve had subliminal highs and the lowest of lows.</p>
<p>As a teenager I studied the occult and tarot. At university my thesis started to unravel the workings of the ego. I spent a decade in the tribal world of politics – a pressure cooker for the ego and then the same in the cut and thrust of business.</p>
<p>However even through my darkest moments I could sense there was a way to heal. A way to make whole again what appeared to be broken. To unify and reunify.</p>
<p>Deep inside I knew there was a way to live a life of love, passion and purpose.</p>
<p>That answer only came after a series of seismic personal events that marked the unmistakable movement that is the call to awaken…</p>
<p>I had searched everywhere. But year in and year out there was one place I dared not venture. There was one place I dared not look. It was my dark side. My own shadow that terrified me so much held the key.</p>
<p>Little did I know then that in the blackness was my own light.</p>
<p>Little did I know that as I thawed my frozen heart true wisdom would begin to emerge.</p>
<p>As I brought wonder and curiosity to my own consciousness, the victimhood, guilt, blame and judgement of most of my life have began to be replaced by awe and amazement.</p>
<p>A deep and profound gratitude for my life began to permeate my being. All of it. The bliss and the sadness. The love and the loneliness. The acceptance and the anger. This astonishing, amazing, wondrous, incredible, extraordinary and inspiring thing called our life.</p>
<p>After fifty years of study and personal exploration the answer to my question emerged with unquestionable clarity.</p>
<p>The answer was so simple but takes a life time to live.</p>
<p>The answer was contained in a word that revealed everything.</p>
<p>Love.</p>
<p>A palpable sensed feeling of connection. A force more powerful and mysterious than any other. A way of being that transcends all limitations and problems. A pathway home.</p>
<p>AND it was love that is bringing us all together to build a Sanctuary dedicated to our hearts, inspired by our wisdom and made possible by our passion.</p>
<p>At Jalan Cinta Sanctuary we come together as a community of equals. True friends of the heart. No gurus but many teachers. Each teacher also a student.</p>
<p>We empower each other to access and only trust our own direct connection with source and to value our own unique genius and gift to the world.</p>
<p>The Sanctuary is a place beyond right and wrong. A living breathing example of love in form. A whole and unified vision of the universal eternal teachings. A sacred marriage of the transcendent father and earthly mother. The unification of spirituality and humanity.  Jalan Cinta is an incubation and birthing centre to help transform our world. A world beyond fear.  A world where we release our limiting beliefs, connect with spirit and unleash our potential.</p>
<p>I am committed to creating Jalan Cinta Sanctuary as a safe haven for people from all walks of life to come, immerse, be held in unconditional love, to heal and to be empowered to live an extraordinary life!</p>
<p>Please join us on this adventure.</p>
<p>Love and blessings,</p>
<p>Rod</p>
