<h2 id="rod" class="h2-prof">Rod West</h2>
<h3 id="life-coach-author-entrepreneur-creative-catalyst">Life Coach &gt; Author &gt; Entrepreneur &gt; Creative Catalyst</h3>
<p>Rod has extensive experience in coaching, writing, business, politics, spirituality and personal growth.</p>
<p>LIFE COACHING &amp; AUTHOR</p>
<ul>
<li>Certified Hendricks Institute Life and Relationships Coach.</li>
<li>Contributor to major daily newspaper The Mercury.</li>
<li>Currently completing writing <em>The Way</em>.</li>
</ul>
<p>PERSONAL &amp; SPIRITUAL</p>
<ul>
<li>Intensive Way of Mastery study including pilgrimages, Palpable Forgivenesses and living at Alam Cinta Ashram.</li>
<li>Living Love - intensive year training on the masculine or feminine based on the work of David Deida</li>
<li>Theosophy - Esoteric teachings focused on the gnosis of divine wisdom.</li>
<li>New Warrior Training - Mankind Project</li>
<li>Attended multiple trainings and conferences including Science &amp; Non-Duality Conference, Sexuality and Consciousness, Divine Will, Awakening the Light Body, I Can Do it, Mindfulness &amp; Self Hypnosis, Avatar, Vipassana and Reiki.</li>
<li>Completed Tony Robbins Unleash the Power Within, Date with Destiny and crewed Date with Destiny.</li>
<li>Oneness Blessing Giver</li>
</ul>
<p>BUSINESS</p>
<ul>
<li>Developer for Stewarts Bay Lodge</li>
<li>15 million waterfront tourism development and 100 Elizabeth Street Hobart.</li>
<li>Created national retail chain Socrates for Curious Minds.</li>
<li>Created Eco Tasmania, Norman &amp; Dann, Raw The Natural Grocer, IXL Design, Vita Nature + Culture and Alchemy Holistic.</li>
</ul>
<p>POLITICS</p>
<ul>
<li>Chief of Staff - The Greens</li>
<li>Branch Vice President - ALP</li>
<li>Founder - Our Common Ground, Tasmanian Community Alliance, and Wild Island.</li>
<li>Author - <em>Co-operative Politics</em> a new politics for a new millennium.</li>
<li>Author - <em>Green Dynamic and Prosperous</em> a new vision for the Tasmanian Economy.</li>
<li>Co-Editor - The Daily Planet</li>
</ul>
<p>OTHER</p>
<ul>
<li>Philosophy First Class Honours. Thesis - Ego &amp; Nature</li>
<li>Editor - Socratic Journal</li>
<li>Business Management Certificate</li>
<li>Designed and built houses featured in a National Design Magazine.</li>
<li>Electrician, Chief Estimator, Contract Manager &amp; Goat Farmer!</li>
</ul>
