<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  {% include unify/head-soon.html %}
</head>

<body class="coming-soon-page">

<div class="coming-soon-border"></div>
<div class="coming-soon-bg-cover"></div>

<div class="container cooming-soon-content">
  {{content}}
</div>

<!--=== Sticky Footer ===-->
<div class="container sticky-footer">
  <p class="copyright-space">
    2019 Jalan Cinta Sanctuary
  </p>
</div>

<!-- JS Global Compulsory -->
{% include unify/scripts-soon.html %}

</body>
</html>
