<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  {% include unify/head-v4-blog.html %}
</head>

<body>

  <!--=== Blog Posts ===-->
  <div class="container content-md">
    <div class="row">
      <!-- Blog All Posts -->
      <div class="col-md-9">
        <h2>Posts sorted by author</h2>
        {% for post in {{site.posts | sort: 'author'}} %}
        <ul>
          <li>Id: {{post.id}}</li>
          <li>Author: {{post.author}}</li>
          <li>Tags: {{post.tags}}</li>
          <li>Category: {{post.category}}</li>
          <li>Date: {{ post.date | date: "%b %-d, %Y" }}</li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>

</div><!--/wrapper-->

<!-- JS Global Compulsory -->
{% include unify/scripts-v4-blog-list.html %}

</body>
</html>
