<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  {% include unify/head-v4-blog.html %}
</head>

<body>
{% if page.facebook %}
{% include fb/{{site.fbapi | append: '.html'}} %}
{% endif %}
<div class="wrapper">
  <div class="header-v4">
    {% include unify/navbar-v4.html %}
  </div>
  {% if page.post-id %}
    {% include slider/post-slider.html %}
  {% endif %}
  <div class="container content-md">
    <div class="row margin-bottom-30">
      <!-- <div id="main" class="col-md-9 md-margin-bottom-30"> -->
      <div id="main" class="col-md-10 col-md-offset-1 md-margin-bottom-30">
        <article>
          {% include blog/template/blog-post-info.html %}
          <header class="heading jcs-page-heading margin-bottom-20">
            <h2>{{page.title}}</h2>
          </header>

          {{content}}

        </article>
        <hr>
        {% if page.comments %}
        <a class="comment-control" href="#"><i class="fa fa-comments"></i> Show Comments</a>
        <div class="comment-section">
          <div>
            {% include blog/disqus/disqus.html %}
          </div>
        </div>
        {% else %}
        <div>
          <span><i class="fa fa-comments"></i> Comments closed for this post.</span>
        </div>
        {% endif %}
      </div>

      <div id="sb1" title="show sidebar" class="col-md-1">
        <a class="control" href="#">
          <i class="pull-right icon-custom rounded-2x icon-color-u fa fa-angle-double-left"></i>
        </a>
      </div>

      <div id="sb3" title="hide sidebar" class="hide col-md-3 md-margin-bottom-30">
        <a class="control" href="#">
          <i class="pull-right icon-custom rounded-2x icon-color-u fa fa-angle-double-right"></i>
        </a>
        {% include blog/template/sidebar.html recent="load" %}
      </div>
    </div>
  </div>
  <div class="footer-default">
    {% include unify/footer.html %}
  </div>
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
{% include unify/scripts-v4-blog-post.html %}

</body>
</html>
